@using GameHubCSharp.Models.View
@using GameHubCSharp.Data.Models
@model List<PostViewModel>
<div class="" style="margin-left:15%;margin-right:15%">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8" style="margin-bottom:5rem;height:100%">

            <h1 class="my-4 " style="color:white">
                Breaking News

            </h1>

            <!-- Blog Post -->
            @foreach (PostViewModel post in Model)
            {
                <div class="mb-4" id="news-card-div">
                    <div style="width:100%;margin-bottom:2rem;height:auto">
                        <div style="position:relative;display:inline-block;width:45%;vertical-align:top;padding:1%;right:2%;">
                            <img style="width: 90%; height: 10rem;border-radius:5px" src="@post.ImageUrl" alt="@post.ImageUrl">
                        </div>
                        <div style="position:relative;display:inline-block;width:50%;left:2%">
                            <div class="text-left">
                                <h2 style="color:white" class="card-title">@post.Topic</h2>
                                <div style="word-wrap: break-word;">
                                    <p style="color:white" class="card-text">@post.Text</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-left" style="width:100%">
                        <a style="margin-left:3%" asp-route-url="@post.Link" asp-controller="Admin" asp-action="RedirectTo" class="btn btn-primary bg-info">Read More →</a>
                    </div>
                    <div class="card-footer text-muted">
                        @post.CreatedAt
                        <a href="#">Start Bootstrap</a>
                    </div>
                </div>
            }

            <!-- Pagination -->
            @{
                var prev = (string)ViewData["HasPrev"];
                var next = (string)ViewData["HasNext"];
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item @prev">
                        <a class="page-link" asp-action="News" asp-controller="Home" asp-route-pageNumber="@((int)ViewData["PageNumber"] - 1)" asp-route-categoryName=@((string)ViewData["Category"]??"") style="background-color: #0e3a88be;color:white">← Older</a>
                    </li>
                    <li class="page-item @next">
                        <a class="page-link" asp-action="News" asp-controller="Home" asp-route-pageNumber="@((int)ViewData["PageNumber"] + 1)" asp-route-categoryName=@((string)ViewData["Category"]??"") style="background-color: #0e3a88be;color:white">Newer →</a>
                    </li>
                </ul>
            }

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <!--<div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-append">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>-->
            <!-- Categories Widget -->
            <div class="card my-4 mt-5" style="text-align: center;margin-top:2rem; border-radius: 12px;border: 2px solid;background-color: #3b0d41bf;">
                <h5 class="card-header" style="color:white">Categories</h5>
                <div class="card-body" style="width: 100%;background-color: #0d1626be;border-radius: 12px;border: 2px solid;">
                    <div class="row">
                        @{
                            var categories = (List<Category>)ViewData["Categories"];
                            var firstHalf = categories.Count / 2;

                            if (categories.Count != 0)
                            {

                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0" style="">
                                        @for (int i = 0; i < (firstHalf == 0 ? 1 : firstHalf); i++)
                                        {
                                            <li>
                                                <a asp-action="News" asp-route-categoryName="@categories[i].Type">@categories[i].Type</a>
                                            </li>

                                        }
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0">
                                        @for (int i = (firstHalf == 0 ? 1 : firstHalf); i < categories.Count; i++)
                                        {
                                            <li>
                                                <a asp-action="News" asp-route-categoryName="@categories[i].Type">@categories[i].Type</a>
                                            </li>

                                        }
                                    </ul>
                                </div>
                            }

                        }
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card  mt-5"
                 style="text-align: center;margin-bottom:5rem;  border-radius: 12px;border: 2px solid;background-color: #324870be;">
                <h5 class="card-header" style="color:white">Side Widget</h5>
                <div class="card-body" style="width: 100%;background-color: #0d1626be;border-radius: 12px;border: 2px solid;">
                    <p style="color:white">You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!</p>
                </div>
            </div>
            <div class="card  mt-2"
                 style="text-align: center;margin-bottom:5rem;  border-radius: 12px;border: 2px solid;background-color: #324870be;">
                <h5 class="card-header" style="color:white">Side Widget</h5>
                <div class="card-body" style="width: 100%;background-color: #0d1626be;border-radius: 12px;border: 2px solid;">
                    <p style="color:white">You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!</p>
                </div>
            </div>
            <div class="card  mt-2"
                 style="text-align: center;margin-bottom:5rem;  border-radius: 12px;border: 2px solid;background-color: #324870be;">
                <h5 class="card-header" style="color:white">Side Widget</h5>
                <div class="card-body" style="width: 100%;background-color: #0d1626be;border-radius: 12px;border: 2px solid;">
                    <p style="color:white">You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!</p>
                </div>
            </div>
            <div class="card  mt-2"
                 style="text-align: center;margin-bottom:5rem;  border-radius: 12px;border: 2px solid;background-color: #324870be;">
                <h5 class="card-header" style="color:white">Side Widget</h5>
                <div class="card-body" style="width: 100%;background-color: #0d1626be;border-radius: 12px;border: 2px solid;">
                    <p style="color:white">You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!</p>
                </div>
            </div>
            <div class="card  mt-5"
                 style="text-align: center;margin-bottom:5rem;  border-radius: 12px;border: 2px solid;background-color: #324870be;">
                <h5 class="card-header" style="color:white">Side Widget</h5>
                <div class="card-body" style="width: 100%;background-color: #0d1626be;border-radius: 12px;border: 2px solid;">
                    <p style="color:white">You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!</p>
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button"><i style="color:white" class="far fa-arrow-alt-circle-up fa-lg"></i></a>
