@using GameHubCSharp.BL.Models.DTO
@model AdminViewModel

@{
}

<h1 class="text-white">Choose What To Add :</h1>
<select class="browser-default mt-2" style="width: 15em;"
        aria-placeholder="Filter"
        id="category"
        name="category"
        onchange="formFilter(this.value)">

    <option text="Game" value="Game">Game</option>
    <option text="Post" value="Post">Post</option>
    <option text="Category" value="Category">Category</option>


</select>
<div class=" d-block text-center">
    <form class="mb-2" style="display:inline-block" id="game" method="POST" asp-action="AddGame" asp-controller="Admin">
        <div>
            <div class="col-md-12 col-md-6 mb-3 d-inline-block" style="display: inline-block;">
                <div class="text-danger" asp-validation-summary="All"></div>
                <label style="color: white;">GameName</label>
                <div>
                    <input asp-for="Game.GameName" class="form-control ">
                </div>
                <label style="color: white;">ImageUrl</label>
                <div>
                    <input asp-for="Game.ImageUrl" class="form-control ">
                </div>
            </div>
        </div>
        <button class="btn btn-primary border-0 bg-dark btn-lg" type="submit">AddGame</button>
    </form>
</div>


<div class=" d-block text-center">
    <form class="mb-2" style="display:inline-block" id="post" method="POST" asp-action="AddPost" asp-controller="Admin">
        <div>
            <div class="col-md-12 col-md-6 mb-3 d-inline-block" style="display: inline-block;">
                <div class="text-danger" asp-validation-summary="All"></div>

                <label class="text-white" asp-for="Category"></label>
                <select class="custom-select d-block" name="SetCat">


                    @for (int i = 0; i < ViewBag.categories.Count; i++)
                    {
                        <option>ViewBag.categories[i].Type</option>
                    }

                </select>
                <label asp-for="Post.Topic" style="color: white;"></label>
                <div>
                    <input asp-for="Post.Topic" class="form-control ">
                </div>
                <label asp-for="Post.ImageUrl" style="color: white;"></label>
                <div>
                    <input asp-for="Post.ImageUrl" class="form-control ">
                </div>
                <label asp-for="Post.Link" style="color: white;"></label>
                <div>
                    <input asp-for="Post.Link" class="form-control ">
                </div>
                <label asp-for="Post.Text" style="color: white;"></label>
                <div>
                    <textarea asp-for="Post.Text" class="form-control "></textarea>
                </div>

            </div>
        </div>
        <button class="btn btn-primary border-0 bg-dark btn-lg" type="submit">AddPost</button>
    </form>
</div>
<div class=" d-block text-center">
    <form class="mb-2" style="display:inline-block" id="cat" method="POST" asp-action="AddCategory" asp-controller="Admin">
        <div>
            <div class="col-md-12 col-md-6 mb-3 d-inline-block" style="display: inline-block;">
                <div class="text-danger" asp-validation-summary="All"></div>
                <label asp-for="Category.Type" style="color: white;"></label>
                <div>
                    <input asp-for="Category.Type" class="form-control ">
                </div>
            </div>
        </div>
        <button class="btn btn-primary border-0 bg-dark btn-lg" type="submit">AddCategory</button>
    </form>
</div>

<select class="browser-default d-inline-block " style="width: 15em;"
        aria-placeholder="Filter"
        id="category"
        name="category"
        onchange="displyFilter(this.value)">


    @if (Model.Delete == "User")
    {
        <option selected text="User" value="User">User</option>
    }
    else
    {
        <option text="User" value="User">User</option>
    }

    @if (Model.Delete == "GameEvent")
    {
        <option selected text="GameEvent" value="GameEvent">GameEvent</option>
    }
    else
    {
        <option text="GameEvent" value="GameEvent">GameEvent</option>
    }

    @if (Model.Delete == "Game")
    {
        <option selected text="Game" value="Game">Game</option>
    }
    else
    {
        <option text="Game" value="Game">Game</option>
    }

    @if (Model.Delete == "Category")
    {
        <option selected text="Category" value="Category">Category</option>
    }
    else
    {
        <option text="Category" value="Category">Category</option>
    }
    @if (Model.Delete == "Post")
    {
        <option selected text="Post" value="Post">Post</option>
    }
    else
    {
        <option text="Post" value="Post">Post</option>
    }

</select>

@*Search*@

<div class=" d-inline-block">
    <input id="searchInput" type="search" class="form-control rounded d-inline-block" style=" width: 60%;" placeholder="Search" aria-label="Search"
           aria-describedby="search-addon" />
    <button onclick="searchedElement()" type="button" class="btn btn-outline-primary d-inline-block" style="color:greenyellow; border-color:greenyellow">search</button>
</div>

<div id="searched"></div>



<section class="mb-4 pb-5">
    <table id="u" class="table table-dark container mt-4 mb-4" style="">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">function</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i <  ViewBag.users.Count; i++)
            {
                var cur =  ViewBag.users[i];

                <tr>
                    <th scope="row">@i</th>
                    <td>@cur.Id</td>
                    <td>@cur.UserName</td>
                    <td><button id="logout-button" class="bg-danger text-white p-2" onclick="location.href = '/Admin/DeleteUser/@cur.Id?deleteType=@cur.GetType().Name'">Delete</button></td>

                </tr>
            }
        </tbody>
    </table>
    <table id="ge" class="table table-dark container mt-4" style="">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">id</th>
                <th scope="col">Event game name</th>
                <th scope="col">function</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < ViewBag.events.Count; i++)
            {
                var cur = ViewBag.events[i];

                <tr>
                    <th scope="row">@i</th>
                    <td>@cur.Id</td>
                    <td>@cur.GameId.GameName</td>
                    <td><button id="logout-button" class="bg-danger text-white p-2" onclick="location.href = '/Admin/DeleteEvent/@cur.Id?deleteType=@cur.GetType().Name'">Delete</button></td>

                </tr>
            }
        </tbody>
    </table>
    <table id="g" class="table table-dark container mt-4" style="">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">function</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i <  ViewBag.games.Count; i++)
            {
                var cur =  ViewBag.games[i];

                <tr>
                    <th scope="row">@i</th>
                    <td>@cur.Id</td>
                    <td>@cur.GameName</td>
                    <td><button id="logout-button" class="bg-danger text-white p-2" onclick="location.href = '/Admin/DeleteGame/@cur.Id?deleteType=@cur.GetType().Name'">Delete</button></td>

                </tr>
            }
        </tbody>
    </table>
    <table id="c" class="table table-dark container mt-4" style="">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">id</th>
                <th scope="col">type</th>
                <th scope="col">function</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i <  ViewBag.categories.Count; i++)
            {
                var cur =  ViewBag.categories[i];

                <tr>
                    <th scope="row">@i</th>
                    <td>@cur.Id</td>
                    <td>@cur.Type</td>
                    <td><button id="logout-button" class="bg-danger text-white p-2" onclick="location.href = '/Admin/DeleteCategory/@cur.Id?deleteType=@cur.GetType().Name'">Delete</button></td>

                </tr>
            }
        </tbody>
    </table>

    @* ViewBag.posts*@
    <table id="p" class="table table-dark container mt-4" style="">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">id</th>
                <th scope="col">type</th>
                <th scope="col">function</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i <  ViewBag.posts.Count; i++)
            {
                var cur =  ViewBag.posts[i];

                <tr>
                    <th scope="row">@i</th>
                    <td>@cur.Id</td>
                    <td>@cur.Topic</td>
                    <td><button id="logout-button" class="bg-danger text-white p-2" onclick="location.href = '/Admin/DeletePost/@cur.Id?deleteType=@cur.GetType().Name'">Delete</button></td>

                </tr>
            }
        </tbody>
    </table>
</section>
<script src="~/js/admin/admin.js"></script>
<script>
    displyFilter("@Model.Delete") // delete
    formFilter("@Model.Add") // add
</script>